**/zz_generated.*.go linguist-generated=true
/docs/cli/** linguist-generated=true
/protokube/pkg/gossip/mesh/mesh.pb.go linguist-generated=true
/protokube/pkg/gossip/mesh/mesh.proto linguist-generated=true
/vendor/** linguist-generated=true
