[submodule "_vendor/k8s.io/kubernetes"]
	path = _vendor/k8s.io/kubernetes
	url = https://github.com/kubernetes/kubernetes
[submodule "_vendor/google.golang.org/cloud"]
	path = _vendor/google.golang.org/cloud
	url = https://github.com/GoogleCloudPlatform/gcloud-golang
[submodule "_vendor/google.golang.org/api"]
	path = _vendor/google.golang.org/api
	url = https://github.com/google/google-api-go-client
[submodule "_vendor/github.com/spf13/pflag"]
	path = _vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "_vendor/github.com/spf13/cobra"]
	path = _vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "_vendor/github.com/golang/glog"]
	path = _vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "_vendor/github.com/prometheus/client_golang"]
	path = _vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "_vendor/github.com/ugorji/go"]
	path = _vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "_vendor/github.com/prometheus/client_model"]
	path = _vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "_vendor/github.com/prometheus/common"]
	path = _vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "_vendor/github.com/prometheus/procfs"]
	path = _vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "_vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = _vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "_vendor/github.com/opencontainers/runc"]
	path = _vendor/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
[submodule "_vendor/golang.org/x/oauth2"]
	path = _vendor/golang.org/x/oauth2
	url = https://github.com/golang/oauth2
[submodule "_vendor/github.com/imdario/mergo"]
	path = _vendor/github.com/imdario/mergo
	url = https://github.com/imdario/mergo
[submodule "_vendor/github.com/juju/ratelimit"]
	path = _vendor/github.com/juju/ratelimit
	url = https://github.com/juju/ratelimit
[submodule "_vendor/github.com/pborman/uuid"]
	path = _vendor/github.com/pborman/uuid
	url = https://github.com/pborman/uuid
[submodule "_vendor/golang.org/x/net"]
	path = _vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "_vendor/github.com/google/gofuzz"]
	path = _vendor/github.com/google/gofuzz
	url = https://github.com/google/gofuzz
[submodule "_vendor/github.com/golang/protobuf"]
	path = _vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "_vendor/github.com/gogo/protobuf"]
	path = _vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "_vendor/github.com/golang/groupcache"]
	path = _vendor/github.com/golang/groupcache
	url = https://github.com/golang/groupcache
[submodule "_vendor/github.com/google/cadvisor"]
	path = _vendor/github.com/google/cadvisor
	url = https://github.com/google/cadvisor
[submodule "_vendor/github.com/evanphx/json-patch"]
	path = _vendor/github.com/evanphx/json-patch
	url = https://github.com/evanphx/json-patch
[submodule "_vendor/github.com/docker/engine-api"]
	path = _vendor/github.com/docker/engine-api
	url = https://github.com/docker/engine-api
[submodule "_vendor/github.com/emicklei/go-restful"]
	path = _vendor/github.com/emicklei/go-restful
	url = https://github.com/emicklei/go-restful
[submodule "_vendor/github.com/docker/distribution"]
	path = _vendor/github.com/docker/distribution
	url = https://github.com/docker/distribution
[submodule "_vendor/github.com/docker/go-connections"]
	path = _vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "_vendor/github.com/coreos/go-oidc"]
	path = _vendor/github.com/coreos/go-oidc
	url = https://github.com/coreos/go-oidc
[submodule "_vendor/github.com/docker/go-units"]
	path = _vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
[submodule "_vendor/github.com/davecgh/go-spew"]
	path = _vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "_vendor/github.com/aws/aws-sdk-go"]
	path = _vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "_vendor/github.com/blang/semver"]
	path = _vendor/github.com/blang/semver
	url = https://github.com/blang/semver
[submodule "_vendor/github.com/Sirupsen/logrus"]
	path = _vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "_vendor/github.com/coreos/pkg"]
	path = _vendor/github.com/coreos/pkg
	url = https://github.com/coreos/pkg
[submodule "_vendor/github.com/ghodss/yaml"]
	path = _vendor/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "_vendor/github.com/go-ini/ini"]
	path = _vendor/github.com/go-ini/ini
	url = https://github.com/go-ini/ini
[submodule "_vendor/github.com/jonboulle/clockwork"]
	path = _vendor/github.com/jonboulle/clockwork
	url = https://github.com/jonboulle/clockwork
[submodule "_vendor/github.com/jmespath/go-jmespath"]
	path = _vendor/github.com/jmespath/go-jmespath
	url = https://github.com/jmespath/go-jmespath
[submodule "_vendor/github.com/coreos/go-systemd"]
	path = _vendor/github.com/coreos/go-systemd
	url = https://github.com/coreos/go-systemd
[submodule "_vendor/github.com/cloudfoundry-incubator/candiedyaml"]
	path = _vendor/github.com/cloudfoundry-incubator/candiedyaml
	url = https://github.com/cloudfoundry-incubator/candiedyaml
[submodule "_vendor/github.com/beorn7/perks"]
	path = _vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "_vendor/gopkg.in/inf.v0"]
	path = _vendor/gopkg.in/inf.v0
	url = https://github.com/go-inf/inf
[submodule "_vendor/gopkg.in/gcfg.v1"]
	path = _vendor/gopkg.in/gcfg.v1
	url = https://github.com/go-gcfg/gcfg.git
[submodule "_vendor/github.com/pkg/sftp"]
	path = _vendor/github.com/pkg/sftp
	url = https://github.com/pkg/sftp
[submodule "_vendor/github.com/spf13/viper"]
	path = _vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "_vendor/github.com/docker/docker"]
	path = _vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "_vendor/github.com/hashicorp/hcl"]
	path = _vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "_vendor/golang.org/x/crypto"]
	path = _vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "_vendor/github.com/fsnotify/fsnotify"]
	path = _vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "_vendor/github.com/pkg/errors"]
	path = _vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "_vendor/github.com/spf13/cast"]
	path = _vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "_vendor/github.com/spf13/jwalterweatherman"]
	path = _vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "_vendor/golang.org/x/sys"]
	path = _vendor/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "_vendor/github.com/BurntSushi/toml"]
	path = _vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "_vendor/github.com/kr/fs"]
	path = _vendor/github.com/kr/fs
	url = https://github.com/kr/fs
[submodule "_vendor/github.com/magiconair/properties"]
	path = _vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "_vendor/github.com/mitchellh/mapstructure"]
	path = _vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "_vendor/gopkg.in/yaml.v2"]
	path = _vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
[submodule "_vendor/github.com/jteeuwen/go-bindata"]
	path = _vendor/github.com/jteeuwen/go-bindata
	url = https://github.com/jteeuwen/go-bindata
[submodule "_vendor/github.com/go-openapi/spec"]
	path = _vendor/github.com/go-openapi/spec
	url = https://github.com/go-openapi/spec
[submodule "_vendor/github.com/go-openapi/jsonpointer"]
	path = _vendor/github.com/go-openapi/jsonpointer
	url = https://github.com/go-openapi/jsonpointer
[submodule "_vendor/github.com/go-openapi/jsonreference"]
	path = _vendor/github.com/go-openapi/jsonreference
	url = https://github.com/go-openapi/jsonreference
[submodule "_vendor/github.com/go-openapi/swag"]
	path = _vendor/github.com/go-openapi/swag
	url = https://github.com/go-openapi/swag
[submodule "_vendor/github.com/mailru/easyjson"]
	path = _vendor/github.com/mailru/easyjson
	url = https://github.com/mailru/easyjson
[submodule "_vendor/github.com/PuerkitoBio/purell"]
	path = _vendor/github.com/PuerkitoBio/purell
	url = https://github.com/PuerkitoBio/purell
[submodule "_vendor/github.com/PuerkitoBio/urlesc"]
	path = _vendor/github.com/PuerkitoBio/urlesc
	url = https://github.com/PuerkitoBio/urlesc
[submodule "_vendor/golang.org/x/text"]
	path = _vendor/golang.org/x/text
	url = https://github.com/golang/text
[submodule "_vendor/github.com/howeyc/gopass"]
	path = _vendor/github.com/howeyc/gopass
	url = https://github.com/howeyc/gopass
[submodule "_vendor/cloud.google.com/go"]
	path = _vendor/cloud.google.com/go
	url = https://github.com/GoogleCloudPlatform/google-cloud-go
[submodule "_vendor/github.com/cpuguy83/go-md2man"]
	path = _vendor/github.com/cpuguy83/go-md2man
	url = https://github.com/cpuguy83/go-md2man.git
[submodule "_vendor/github.com/russross/blackfriday"]
	path = _vendor/github.com/russross/blackfriday
	url = https://github.com/russross/blackfriday.git
[submodule "_vendor/github.com/shurcooL/sanitized_anchor_name"]
	path = _vendor/github.com/shurcooL/sanitized_anchor_name
	url = https://github.com/shurcooL/sanitized_anchor_name.git
[submodule "_vendor/github.com/juju227/static_assetfs"]
	path = _vendor/github.com/juju227/static_assetfs
	url = https://github.com/JuJu227/static_assetfs
