language: go
os:
  - linux
  - osx
  - windows
go:
  - 1.8
  - 1.9
# removed because of govet issue with apimahcinery
#  - tip

go_import_path: k8s.io/kops

script:
  - make --debug=b ci

git:
  submodules: false
