language: go
arch:
  - arm64
os:
  - linux
go:
  - 1.14.x

go_import_path: k8s.io/kops

script:
  - GOPROXY=https://proxy.golang.org travis_wait 30 make nodeup examples test

jobs:
  allow_failures:
    - arch: arm64
