{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        }
      }
    }
  },
  "basePath": "/dns/v1/projects/",
  "baseUrl": "https://www.googleapis.com/dns/v1/projects/",
  "batchPath": "batch/dns/v1",
  "description": "Configures and serves authoritative DNS records.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/cloud-dns",
  "etag": "\"J3WqvAcMk4eQjJXvfSI4Yr8VouA/MUEA1ZMhfI9iAzfPfacPlOXY3F4\"",
  "icons": {
    "x16": "https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png",
    "x32": "https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"
  },
  "id": "dns:v1",
  "kind": "discovery#restDescription",
  "name": "dns",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "changes": {
      "methods": {
        "create": {
          "description": "",
          "httpMethod": "POST",
          "id": "dns.changes.create",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/changes",
          "request": {
            "$ref": "Change"
          },
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.changes.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "parameters": {
            "changeId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.changes.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortBy": {
              "default": "changeSequence",
              "enum": [
                "changeSequence"
              ],
              "enumDescriptions": [
                ""
              ],
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "get": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "digestType": {
              "location": "query",
              "type": "string"
            },
            "dnsKeyId": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "response": {
            "$ref": "DnsKey"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.dnsKeys.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "digestType": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/dnsKeys",
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "operation": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/operations/{operation}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.managedZoneOperations.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "sortBy": {
              "default": "startTime",
              "enum": [
                "id",
                "startTime"
              ],
              "enumDescriptions": [
                "",
                ""
              ],
              "location": "query",
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/operations",
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "managedZones": {
      "methods": {
        "create": {
          "description": "",
          "httpMethod": "POST",
          "id": "dns.managedZones.create",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "description": "",
          "httpMethod": "DELETE",
          "id": "dns.managedZones.delete",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "get": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.managedZones.get",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}",
          "response": {
            "$ref": "ManagedZone"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "list": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.managedZones.list",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "dnsName": {
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones",
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "description": "",
          "httpMethod": "PATCH",
          "id": "dns.managedZones.patch",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "update": {
          "description": "",
          "httpMethod": "PUT",
          "id": "dns.managedZones.update",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}",
          "request": {
            "$ref": "ManagedZone"
          },
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.projects.get",
          "parameterOrder": [
            "project"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "{project}",
          "response": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "list": {
          "description": "",
          "httpMethod": "GET",
          "id": "dns.resourceRecordSets.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "name": {
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string"
            },
            "type": {
              "location": "query",
              "type": "string"
            }
          },
          "path": "{project}/managedZones/{managedZone}/rrsets",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    }
  },
  "revision": "20190312",
  "rootUrl": "https://www.googleapis.com/",
  "schemas": {
    "Change": {
      "id": "Change",
      "properties": {
        "additions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "deletions": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "isServing": {
          "type": "boolean"
        },
        "kind": {
          "default": "dns#change",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#change\".",
          "type": "string"
        },
        "startTime": {
          "type": "string"
        },
        "status": {
          "enum": [
            "done",
            "pending"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChangesListResponse": {
      "id": "ChangesListResponse",
      "properties": {
        "changes": {
          "items": {
            "$ref": "Change"
          },
          "type": "array"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#changesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKey": {
      "id": "DnsKey",
      "properties": {
        "algorithm": {
          "enum": [
            "ecdsap256sha256",
            "ecdsap384sha384",
            "rsasha1",
            "rsasha256",
            "rsasha512"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "creationTime": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "digests": {
          "items": {
            "$ref": "DnsKeyDigest"
          },
          "type": "array"
        },
        "id": {
          "type": "string"
        },
        "isActive": {
          "type": "boolean"
        },
        "keyLength": {
          "format": "uint32",
          "type": "integer"
        },
        "keyTag": {
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "dns#dnsKey",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKey\".",
          "type": "string"
        },
        "publicKey": {
          "type": "string"
        },
        "type": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "properties": {
        "digest": {
          "type": "string"
        },
        "type": {
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKeySpec": {
      "id": "DnsKeySpec",
      "properties": {
        "algorithm": {
          "enum": [
            "ecdsap256sha256",
            "ecdsap384sha384",
            "rsasha1",
            "rsasha256",
            "rsasha512"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "keyLength": {
          "format": "uint32",
          "type": "integer"
        },
        "keyType": {
          "enum": [
            "keySigning",
            "zoneSigning"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "kind": {
          "default": "dns#dnsKeySpec",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DnsKeysListResponse": {
      "id": "DnsKeysListResponse",
      "properties": {
        "dnsKeys": {
          "items": {
            "$ref": "DnsKey"
          },
          "type": "array"
        },
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#dnsKeysListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedZone": {
      "id": "ManagedZone",
      "properties": {
        "creationTime": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "dnsName": {
          "type": "string"
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig"
        },
        "id": {
          "format": "uint64",
          "type": "string"
        },
        "kind": {
          "default": "dns#managedZone",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string"
        },
        "nameServerSet": {
          "type": "string"
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "privateVisibilityConfig": {
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "visibility": {
          "enum": [
            "private",
            "public"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "properties": {
        "defaultKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array"
        },
        "kind": {
          "default": "dns#managedZoneDnsSecConfig",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".",
          "type": "string"
        },
        "nonExistence": {
          "enum": [
            "nsec",
            "nsec3"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "state": {
          "enum": [
            "off",
            "on",
            "transfer"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedZoneOperationsListResponse": {
      "id": "ManagedZoneOperationsListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#managedZoneOperationsListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfig\".",
          "type": "string"
        },
        "networks": {
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfigNetwork": {
      "id": "ManagedZonePrivateVisibilityConfigNetwork",
      "properties": {
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfigNetwork",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#managedZonePrivateVisibilityConfigNetwork\".",
          "type": "string"
        },
        "networkUrl": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedZonesListResponse": {
      "id": "ManagedZonesListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#managedZonesListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "managedZones": {
          "items": {
            "$ref": "ManagedZone"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "dnsKeyContext": {
          "$ref": "OperationDnsKeyContext"
        },
        "id": {
          "type": "string"
        },
        "kind": {
          "default": "dns#operation",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#operation\".",
          "type": "string"
        },
        "startTime": {
          "type": "string"
        },
        "status": {
          "enum": [
            "done",
            "pending"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "user": {
          "type": "string"
        },
        "zoneContext": {
          "$ref": "OperationManagedZoneContext"
        }
      },
      "type": "object"
    },
    "OperationDnsKeyContext": {
      "id": "OperationDnsKeyContext",
      "properties": {
        "newValue": {
          "$ref": "DnsKey"
        },
        "oldValue": {
          "$ref": "DnsKey"
        }
      },
      "type": "object"
    },
    "OperationManagedZoneContext": {
      "id": "OperationManagedZoneContext",
      "properties": {
        "newValue": {
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "$ref": "ManagedZone"
        }
      },
      "type": "object"
    },
    "Project": {
      "id": "Project",
      "properties": {
        "id": {
          "type": "string"
        },
        "kind": {
          "default": "dns#project",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#project\".",
          "type": "string"
        },
        "number": {
          "format": "uint64",
          "type": "string"
        },
        "quota": {
          "$ref": "Quota"
        }
      },
      "type": "object"
    },
    "Quota": {
      "id": "Quota",
      "properties": {
        "dnsKeysPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "dns#quota",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#quota\".",
          "type": "string"
        },
        "managedZones": {
          "format": "int32",
          "type": "integer"
        },
        "managedZonesPerNetwork": {
          "format": "int32",
          "type": "integer"
        },
        "networksPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "resourceRecordsPerRrset": {
          "format": "int32",
          "type": "integer"
        },
        "rrsetAdditionsPerChange": {
          "format": "int32",
          "type": "integer"
        },
        "rrsetDeletionsPerChange": {
          "format": "int32",
          "type": "integer"
        },
        "rrsetsPerManagedZone": {
          "format": "int32",
          "type": "integer"
        },
        "totalRrdataSizePerChange": {
          "format": "int32",
          "type": "integer"
        },
        "whitelistedKeySpecs": {
          "items": {
            "$ref": "DnsKeySpec"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ResourceRecordSet": {
      "id": "ResourceRecordSet",
      "properties": {
        "kind": {
          "default": "dns#resourceRecordSet",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"dns#resourceRecordSet\".",
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatureRrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ttl": {
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceRecordSetsListResponse": {
      "id": "ResourceRecordSetsListResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "kind": {
          "default": "dns#resourceRecordSetsListResponse",
          "description": "Type of resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        },
        "rrsets": {
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ResponseHeader": {
      "id": "ResponseHeader",
      "properties": {
        "operationId": {
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "servicePath": "dns/v1/projects/",
  "title": "Google Cloud DNS API",
  "version": "v1"
}