[Unit]
Description=Kubernetes Protokube Service
Documentation=https://github.com/kubernetes/kube-deploy/protokube
After=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/protokube
ExecStartPre=/usr/bin/docker pull justinsb/protokube:1.3
ExecStart=/usr/bin/docker run -v /:/rootfs/ --privileged justinsb/protokube:1.3 /usr/bin/protokube "$DAEMON_ARGS"
Restart=always
RestartSec=2s
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
