apiVersion: v1
kind: Config
users:
- name: kubelet
  user:
    client-certificate-data: {{ Base64Encode .Kubelet.Certificate.AsString }}
    client-key-data: {{ Base64Encode .Kubelet.Key.AsString }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ Base64Encode (or .Kubelet.CACertificate .CACertificate).AsString }}
contexts:
- context:
    cluster: local
    user: kubelet
  name: service-account-context
current-context: service-account-context
