apiVersion: v1
kind: Config
users:
- name: kubelet
  user:
    client-certificate-data: {{ Base64Encode (Certificate "kubelet").AsString }}
    client-key-data: {{ Base64Encode (PrivateKey "kubelet").AsString }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ Base64Encode CACertificate.AsString }}
contexts:
- context:
    cluster: local
    user: kubelet
  name: service-account-context
current-context: service-account-context
