{{$zone := index .zones 0}}
apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  name: {{.clusterName}}
spec:
  kubernetesApiAccess:
  - {{.publicIP}}
  api:
    loadBalancer:
      type: Public
      class: Network
  authorization:
    rbac: {}
  channel: stable
  cloudProvider: {{.cloudProvider}}
  configBase: "{{.stateStore}}/{{.clusterName}}"
  containerd:
    configAdditions:
      plugins."io.containerd.grpc.v1.cri".containerd.runtimes.test-handler.runtime_type: io.containerd.runc.v2
  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-{{$zone}}
      name: {{$zone}}
    name: main
  - etcdMembers:
    - instanceGroup: master-{{$zone}}
      name: {{$zone}}
    name: events
  iam: {}
  kubelet:
    anonymousAuth: false
  kubernetesVersion: {{.kubernetesVersion}}
  networkCIDR: 172.20.0.0/16
  networking:
    calico: {}
  nodePortAccess:
    - 0.0.0.0/0
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
    - {{.publicIP}}
  topology:
    dns:
      type: Public
  subnets:
  - cidr: 172.20.32.0/19
    name: {{$zone}}
    type: Public
    zone: {{$zone}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: SSHCredential
metadata:
  name: admin
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  publicKey: {{.sshPublicKey}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: nodes-{{$zone}}
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  associatePublicIp: true
  image: ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/amd64/hvm/ebs-gp3/ami-id
  instanceMetadata:
    httpPutResponseHopLimit: 1
    httpTokens: required
  machineType: t3.medium
  maxSize: 4
  minSize: 4
  role: Node
  subnets:
  - {{$zone}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: master-{{$zone}}
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  associatePublicIp: true
  image: ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/amd64/hvm/ebs-gp3/ami-id
  instanceMetadata:
    httpPutResponseHopLimit: 1
    httpTokens: required
  machineType: c5.large
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - {{$zone}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: apiserver-{{$zone}}
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  associatePublicIp: true
  image: ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/amd64/hvm/ebs-gp3/ami-id
  instanceMetadata:
    httpPutResponseHopLimit: 1
    httpTokens: required
  machineType: c5.large
  maxSize: 1
  minSize: 1
  role: APIServer
  subnets:
  - {{$zone}}
