apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: standard
{{ if or (eq .CloudProvider.GCE.PDCSIDriver nil) (not (WithDefaultBool .CloudProvider.GCE.PDCSIDriver.Enabled false))}}
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
{{ end }}
  labels:
    kubernetes.io/cluster-service: "true"
    k8s-addon: storage-gce.addons.k8s.io
    addonmanager.kubernetes.io/mode: EnsureExists
provisioner: kubernetes.io/gce-pd
parameters:
  type: pd-standard