{{$zone := index .zones 0}}
apiVersion: kops.k8s.io/v1alpha2
kind: Cluster
metadata:
  name: {{.clusterName}}
spec:
  kubernetesApiAccess:
  - {{.publicIP}}
  certManager:
    enabled: true
  channel: stable
  cloudProvider: {{.cloudProvider}}
  configBase: "{{.stateStore}}/{{.clusterName}}"
  etcdClusters:
  - etcdMembers:
    - instanceGroup: master-{{$zone}}
      name: {{$zone}}
    name: main
  - etcdMembers:
    - instanceGroup: master-{{$zone}}
      name: {{$zone}}
    name: events
  iam:
    serviceAccountExternalPermissions:
    - aws:
        policyARNs:
        - arn:aws:iam::aws:policy/AmazonEC2ReadOnlyAccess
      name: pod-identity-webhook-test
      namespace: default
  kubelet:
    anonymousAuth: false
  kubernetesVersion: {{.kubernetesVersion}}
  masterPublicName: api.{{.clusterName}}
  networkCIDR: 172.20.0.0/16
  networking:
    calico: {}
  nodePortAccess:
    - 0.0.0.0/0
  nonMasqueradeCIDR: 100.64.0.0/10
  podIdentityWebhook:
    enabled: true
  serviceAccountIssuerDiscovery:
    discoveryStore: "{{.discoveryStore}}/{{.clusterName}}"
    enableAWSOIDCProvider: true
  sshAccess:
    - {{.publicIP}}
  subnets:
  - cidr: 172.20.32.0/19
    name: {{$zone}}
    type: Public
    zone: {{$zone}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: SSHCredential
metadata:
  name: admin
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  publicKey: {{.sshPublicKey}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: nodes-{{$zone}}
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  associatePublicIp: true
  image: ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/arm64/hvm/ebs-gp3/ami-id
  machineType: t4g.medium
  maxSize: 4
  minSize: 4
  role: Node
  subnets:
  - {{$zone}}

---

apiVersion: kops.k8s.io/v1alpha2
kind: InstanceGroup
metadata:
  name: master-{{$zone}}
  labels:
    kops.k8s.io/cluster: {{.clusterName}}
spec:
  associatePublicIp: true
  image: ssm:/aws/service/canonical/ubuntu/server/24.04/stable/current/arm64/hvm/ebs-gp3/ami-id
  machineType: c6g.large
  maxSize: 1
  minSize: 1
  role: Master
  subnets:
  - {{$zone}}
