startup --expand_configs_in_place

# TODO: Remove once we expect everyone is running bazel >= 0.18
# (This is the "legacy" location for bazel.rc)
# (See https://github.com/bazelbuild/bazel/issues/6319)

# --stamp is needed to use x_defs, as of rules_go 0.19.0
build --stamp

build --workspace_status_command=./tools/get_workspace_status.sh
build --verbose_failures

# Workaround for rules_docker python compatibility
# See https://github.com/bazelbuild/rules_docker/issues/842
# and https://github.com/bazelbuild/rules_docker/issues/580
build --host_force_python=PY2

test --test_output=errors


# RBE configuration
# Note needs an instance name
# https://github.com/bazelbuild/bazel-toolchains/blob/master/bazelrc/bazel-0.27.0.bazelrc
build:remote --jobs=500
build:remote --host_javabase=@rbe_default//java:jdk
build:remote --javabase=@rbe_default//java:jdk
build:remote --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:remote --crosstool_top=@rbe_default//cc:toolchain
build:remote --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

build:remote --extra_toolchains=@rbe_default//config:cc-toolchain
build:remote --extra_execution_platforms=@io_k8s_repo_infra//:rbe_with_network
build:remote --host_platform=@io_k8s_repo_infra//:rbe_with_network
build:remote --platforms=@io_k8s_repo_infra//:rbe_with_network

build:remote --define=EXECUTOR=remote
build:remote --remote_executor=grpcs://remotebuildexecution.googleapis.com
build:remote --remote_timeout=3600

# Alt: --google_credentials=some_file.json
build:remote --google_default_credentials=true

# Minimize what is downloaded
build:inmemory --experimental_inmemory_jdeps_files
build:inmemory --experimental_inmemory_dotd_files

# Minimize what is downloaded
build:toplevel --config=inmemory
build:toplevel --experimental_remote_download_outputs=toplevel

build:minimal --config=inmemory
build:minimal --experimental_remote_download_outputs=minimal

build:remote --config=toplevel
test:remote --incompatible_allow_tags_propagation # //images:protokube-image fails to find xz on rbe

run:remote --experimental_remote_download_outputs=all --noexperimental_inmemory_jdeps_files --noexperimental_inmemory_dotd_files

build:ci --host_force_python=PY2 # TODO(fejta): noop stub to allow CI to use --config=ci
