apiVersion: v1
kind: Config
users:
- name: kope-routing
  user:
    token: {{ GetToken "kope-routing" }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ Base64Encode CACertificate.AsString }}
    server: https://{{ .MasterInternalName }}
contexts:
- context:
    cluster: local
    user: kope-routing
  name: service-account-context
current-context: service-account-context