apiVersion: v1
kind: Config
users:
- name: kube-proxy
  user:
    token: {{ GetToken "kube-proxy" }}
clusters:
- name: local
  cluster:
    certificate-authority-data: {{ Base64Encode CACertificate.AsString }}
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: service-account-context
current-context: service-account-context