name: 'Review Dependencies'

on:
  pull_request:
    paths:
      - 'go.mod'

permissions:
  contents: read

jobs:
  dependency-review:
    if: ${{ github.repository == 'kubernetes/kops' }}
    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: 'Review Dependencies'
        uses: actions/dependency-review-action@a6993e2c61fd5dc440b409aa1d6904921c5e1894
